# <b style="color:#FF0000;">Python Datatypes</b>

No need to mention datatype before variable like other languages <b style="color:#FF0000;"> XXX </b><b style="color:#01295c;"> 'int a = 10'</b> <b style="color:#FF0000;"> XXX</b>

Python's Datatypes are<b style="color:#FF00FF;"> Dynamically Typed</b>

Python will Automatically recognises its Datatypes.

Python is a <b style="color:#FF00FF;"> Brilliant Language</b>

# 


# <b style="color:#008000;">     Integers</b> - int()

   * the numbers....including negative and positive numbers and even zero without decimals are Integers <br>
     <br>
   * eg ..  23,  -25,  0 <br>
     <br>
   * 21465138636487319-no limitations <br>

In [1]:
a=10
print(a)

10

In [2]:
print(type(a))

<class 'int'>

# 


# <b style="color:#008000;">Float  </b>-  float()

   * decimals <br>
    <br>
   * eg ..  23.45,  -4.73,  4.0

In [3]:
a=10.26
print(a)

10.26

In [4]:
print(type(a))

<class 'float'>

# 


# <b style="color:#008000;">string</b> -  str()

   * string can be anything even integers,floats,char,words,sentences,special characters<br>
     that all wrapped in <b style="color:#FF00FF;"> single quotes   ('  <span>  </span>   ')  </b>or <b style="color:#FF00FF;">Double Quotes   ("      ")</b><br>
     <br>
   * '23',"23.5",'a','python','hello world','+'

In [5]:
a='sai'
print(a)

sai

In [6]:
print(type(a))

<class 'str'>

# 



# <b style="color:#008000;">boolean</b> -  bool
   * True or False<br>
   * 7>2==True,2>7==False

In [7]:
a=7>2
print(a)

True

In [8]:
print(type(a))

<class 'bool'>

# 


# <b style="color:#008000;">diff between numbers in int() and str()</b>

In [11]:
a=10
print(a*10)  # Here 10 is a number

100

In [13]:
a='10'
print(a*10) # value of (a) is also an integer but wrapped inside quotes...so it is considered as string
            # as of in math x*10 = 10 times x
            # the same applies here  ...the string of 10 is considered as value and multiplied that many times

10101010101010101010