# Python datatypes

integer-(int)==>
    0,Negative numbers,positive numbers
    0,12,-12
    12
float-(float)==>
    decimals 
    2.35,26.54
    20.36
string-(str)==>
    char,word,sentence,integers,float and anything
    'a','python','hello this is sai','23',"20.23",'+'
    " " or ' '
Boolean==>
    True or False
    where we use......<,>,<=,>=,==

In [1]:
a=12
print(a)
#int a=10 no need to mention this

12

In [2]:
print(a*4)

48

In [3]:
a='12'

In [4]:
print(a*12)

121212121212121212121212

# Sequential datatypes

#sequence of  elements
1.List - (list)
    list is wrapped inside '[]'-Brackets
    eg-[1,2,3,4,5]
    we can include any datatype at a time-[1,12.30,'sai',[1,2,3,5]]
    list allow duplicates--[1,1,1,2,3,4,4,4,5,6,7]
    we can sort(ascending order) the list elements-[4,3,2,5,1]-sort-[1,2,3,4,5]
    we can modify list elements anytime

2.Tuple-(tuple)
    tuple is wrapped inside '()'-paranthesis
    eg-(1,2,3,4,5)
    we can include any datatype at a time-(1,12.30,'sai',[1,2,3,5])
    tuple allow duplicates--(1,1,1,2,3,4,4,4,5,6,7)
    we can sort(ascending order) the tuple elements-(4,3,2,5,1)-sort-(1,2,3,4,5)
    we can't modify tuple elements anytime

{}-curly braces-it wont allow duplicates

3.Set-(set)
    set is mentioned in '{}'
    eg-{1,2,3,4,5}
    we can include any datatypes at a time-{1,1.23,'sai',{1,2,3}}
    set wont allow duplicates....if dupicates are given....python will remove the duplicates
        {1,1,2,3,3,4,5,5,'python','python '}-{1,2,3,4,5,'python','python '}
    set cannot be ordered(sorted)
    we can modify set elements anytime

4.dictionary-(dict)
    dictionary is also mentioned in '{}'
    python will automatically recognises....set and dictionary
        set is a unique single elements
        dictionary is a key and valued pair values
    {'s':1 , 'a':2 , 'i':3}
    we can include any datatypes at a time-{1:'s' , 'a':1.23 , 'sai':12 , 'e':{1,2,3}}
    key and values can be anything eg..int,float,string or special characters within quotes '+'
    dictionary cannot be ordered(sorted)
    we can modify dictionary elements anytime
    dont allow duplicates....if assigned....the value of the original key will be replaced with the duplicate value ...and the duplicate  will be removed

In [1]:
a={'s':1,'a':2,'i':3}

print(a)

{'s': 1, 'a': 2, 'i': 3}

In [2]:
a={'s':1,'a':2,'i':3,'s':5,'s':'sai'}

print(a)

{'s': 'sai', 'a': 2, 'i': 3}

# variables

# Variables is called as names given to some values
# Rules:
#     it cant start with Numbers...eg-1sai-error
#                                     sai1,sai1sai-correct execution
#     cant include Special characters like @*/%$ eg-sai-1,sai$==error
#     dont use Space between words like (sai name,college name)
#         instead use underscores like (sai_name,college_name)
#     dont use pre-built keywords like (print,list,def,with,and,or,not,if,elif,else)

In [3]:
# variable  = value
college_name = 'SRM'

In [4]:
print(college_name)

SRM

+ = addition
- = sub
* = multiplication
/ = division
// = floor division (return only the Quotient)
% =modulo (returns onlyt the remainder)
** = returns the power value

In [8]:
a=10
b=3
print('the addition of these two values is =',a+b,'hence the addition')
print('the subtraction of these two values is =',a-b)
print('the multiplication of these two values is =',a*b)
print('the division of these two values is =',a/b)
print('the  floor division of these two values is =',a//b)
print('the modulo division of these two values is =',a%b)
print('the exponential of these two values is =',a**b)

the addition of these two values is = 13 hence the addition
the subtraction of these two values is = 7
the multiplication of these two values is = 30
the division of these two values is = 3.3333333333333335
the  floor division of these two values is = 3
the modulo division of these two values is = 1
the exponential of these two values is = 1000

In [10]:
c=a+b
print(c)
print(2**5) # 2*2*2*2*2

13
32

<= less than or equal to
<  less than
>= greater than or equal to
>  greater than
== equal to
!= not equal to

In [56]:
print('5<10',5<10)
print('5>10',5>10)
print('5<=10',5<=10)
print('5>=10',5>=10)
print('5==10',5==10)
print('5==5',5==5)
print('5!=10',5!=10)
print('sai==sai','sai'=='sai')

5<10 True
5>10 False
5<=10 True
5>=10 False
5==10 False
5==5 True
5!=10 True
sai==sai True

In [21]:
class maths:
    def sum(a,b):
        return a+b
    def diff(a,b):
        return a-b

In [23]:
maths.sum(2,3)

5

In [57]:
!pip install maths]

ERROR: Could not find a version that satisfies the requirement math (from versions: none)
ERROR: No matching distribution found for math

In [1]:
import math as m

In [61]:
m.pow(2,3)

8.0

In [2]:
import datetime as dt

In [3]:
dt.datetime.now()

datetime.datetime(2023, 1, 3, 12, 35, 51, 837488)

In [4]:
import calendar as cl

In [6]:
print(cl.calendar(1999))

                                  1999

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [13]:
print(cl.month(2022,12))

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [7]:
name='saiaravind'
age=24
enaku=111

In [46]:
print(name)

saiaravind

In [17]:
print('iam',name)

iam saiaravind

In [47]:
print('iam',name,'iam',age)

iam saiaravind iam 24

In [48]:
print('ennoda peru',name,'enaku',age,'vayasu aaguthu')

ennoda peru saiaravind enaku 24 vayasu aaguthu

# printing methods

1.f-string format
2.%-operator formatting
3.(.format) method

## f-string formatting

In [9]:
print(f'ennoda peru {name} enaku {age} vayasu aaguthu {name}')

ennoda peru saiaravind enaku 24 vayasu aaguthu saiaravind

# %- operator formatting

In [ ]:
integer - %d
string - %s
float -%f
boolean -%b

In [77]:
print('ennoda peru %s enaku %d %d vayasu aaguthu'%(name,age,age))

ennoda peru saiaravind enaku 24 24 vayasu aaguthu

In [10]:
print('ennoda peru %s enaku %d vayasu aaguthu %s %10.2f %d %s'%(name,age,name,12.256,23,'kaashiv'))

ennoda peru saiaravind enaku 24 vayasu aaguthu saiaravind      12.26 23 kaashiv

# (.format) method

In [9]:
print('hi iam {} and iam {} iam your {} trainer {} {}'.format(name,age,'python','data science',name))

hi iam saiaravind and iam 24 iam your python trainer data science saiaravind

In [83]:
#using index position
print('''hi iam {0} and iam {1} iam your {2} trainer {3} {0}
hi iam {0} and iam {1} iam your {2} trainer {3} {0}
hi iam {0} and iam {1} iam your {2} trainer {3} {0}
hi iam {0} and iam {1} iam your {2} trainer {3} {0}'''.format(name,age,'python','data science'))

hi iam saiaravind and iam 24 iam your python trainer data science saiaravind
hi iam saiaravind and iam 24 iam your python trainer data science saiaravind
hi iam saiaravind and iam 24 iam your python trainer data science saiaravind
hi iam saiaravind and iam 24 iam your python trainer data science saiaravind

## Slicing

In [85]:
a=[1,2,3,4,5,6,7,8,9,10]
## 0,1,2,3,4,5,6,7,8,9 ===> index positions

In [86]:
#listname[starting index : ending index + 1]
print(a[3:6])
print(a[1:7])

[4, 5, 6]
[2, 3, 4, 5, 6, 7]

In [15]:
b=a[3:6]

In [16]:
b

[4, 5, 6]

In [18]:
b=b+b

In [19]:
b

[4, 5, 6, 4, 5, 6]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
## 0,1,2,3,4,5,6,7,8,9 ===> index positions

## stepping

In [20]:
#listname[start index : end index +1 : step count]
print(a[1:10:2])

[2, 4, 6, 8, 10]

In [87]:
a[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
a[1::2]

[2, 4, 6, 8, 10]

In [22]:
a[:5]

[1, 2, 3, 4, 5]

In [25]:
a[::3]

[1, 4, 7, 10]

In [26]:
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
a=[1,2,3,4,5,6,7,8,9,10]
a[::-3]

[10, 7, 4, 1]

In [31]:
a[-3:3]

[]

In [32]:
a[6:2:-1]

[7, 6, 5, 4]

## List methods

In [53]:
a=[1,2,3,4,5,6,7,8,9,10]

#append() - Adds object to the end of the list.
a.append(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [36]:
a=[1,2,2,2,3,2,4,5,5,1,2,6,7,8,9]

In [37]:
a.count(2)

5

In [38]:
a.count(9)

1

In [90]:
b=[-2,-1,0]

In [91]:
b.extend(a)

In [92]:
b

[-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [42]:
b=b+a

In [43]:
b

[-2,
 -1,
 0,
 1,
 2,
 2,
 2,
 3,
 2,
 4,
 5,
 5,
 1,
 2,
 6,
 7,
 8,
 9,
 1,
 2,
 2,
 2,
 3,
 2,
 4,
 5,
 5,
 1,
 2,
 6,
 7,
 8,
 9]

In [93]:
a.index(4)

3

In [95]:
a=[1,2,3,5,6,7,8]
a.insert(3,4)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
a.pop(2)

3

In [51]:
a

[1, 2, 4, 5, 6, 7, 8]

In [52]:
a.remove(2)

In [53]:
a

[1, 4, 5, 6, 7, 8]

In [54]:
del a[3]

In [55]:
a

[1, 4, 5, 7, 8]

In [56]:
del a[1:4]

In [57]:
a

[1, 8]

In [60]:
a=[1,2,3,4,5,6]
a.reverse()

None

In [59]:
a

[6, 5, 4, 3, 2, 1]

In [61]:
a=[3,4,5,1,2,9,8,7,6]

In [98]:
a.sort(reverse=True)

In [99]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [66]:
a=[1,1,2,2,3,4,4,5,5,5,5,5,6,7,8,9,10]

In [67]:
a=list(set(a))

In [68]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
{1,2,3,4,5,6,7,8,9,10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set(a)={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
list(set(a))

In [1]:
pwd

'C:\\Users\\Kaashiv Infotech\\sai files\\Data Science\\Python exe'

## Type casting

int==>float() or str()==>1==>1.0 or '1'

In [1]:
a=10
float(a)

10.0

In [3]:
b=str(a)

In [4]:
b*10

'10101010101010101010'

float ==> int() or str() ==> 2.65 ==> 2 or '2.65'

In [5]:
a=2.65787

In [6]:
int(a)

2

In [7]:
str(a)

'2.65787'

str ==> int() only if there is a number
        float() only if there is a decimal

In [8]:
a='10'

In [9]:
int(a)

10

In [11]:
float(a)

10.0

In [12]:
float(int(a))

10.0

In [13]:
b='python'

In [14]:
int(b)

ValueError: invalid literal for int() with base 10: 'python'

list ==> tuple() or set() or dict()
         list to tuple [1,2,3]==>(1,2,3)
         list to set [1,2,3,3,4,4]==>{1,2,3,4}
         list to dict [[1,2],[2,3],[3,4]]==>{1:2,2:3,3:4}

In [15]:
a=[1,2,3,4,5]

In [16]:
tuple(a)

(1, 2, 3, 4, 5)

In [17]:
a=[1,2,2,3,3,4,5]

In [18]:
set(a)

{1, 2, 3, 4, 5}

In [19]:
a=[1,2,3,4,4,4,5,5,5,6,6,7,8,8]
b=list(set(a))

In [20]:
b

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
a=[[1,2],['s',3],['i',7]]

In [22]:
dict(a)

{1: 2, 's': 3, 'i': 7}

In [23]:
a=[(1,2),('s',3),('i',7)]

In [24]:
dict(a)

{1: 2, 's': 3, 'i': 7}

In [25]:
a=[1,2,3,4,5,6]

In [26]:
dict(a)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

tuple==> list() or set() or dict()

set==> list() or tuple() or dict()

dict ==> list() or tuple() or set()
        ==>{1:2,2:3,3:4}==>list()==>[1,2,3]
        ==>             ==>tuple()==>(1,2,3)
                        ==>set() ==> {1,2,3}

In [27]:
a={1:2,2:3,3:4}

In [28]:
list(a)

[1, 2, 3]

In [29]:
list(a.values())

[2, 3, 4]

In [30]:
list(a.items())

[(1, 2), (2, 3), (3, 4)]

In [31]:
a='saiarvindhakshan selvam'

In [33]:
a[3:-7]

'arvindhakshan'

In [34]:
sai={'fn':'saiarvindhakshan','ln':'selvam'}

In [35]:
sai['fn']

'saiarvindhakshan'

In [36]:
sai['ln']

'selvam'

In [37]:
a=[1,2,3,4,5,6]

In [38]:
a[2]

3

In [39]:
print(a[2])

3

In [40]:
print(a[2:4])

[3, 4]

In [41]:
a[2]=30

In [42]:
a

[1, 2, 30, 4, 5, 6]

In [43]:
a=(1,2,3)
a[2]=3

TypeError: 'tuple' object does not support item assignment

In [44]:
a={1:2,2:3,3:4}
a[1]

2

In [45]:
a[1]=33

In [46]:
a

{1: 33, 2: 3, 3: 4}

In [47]:
a['s']=11

In [48]:
a

{1: 33, 2: 3, 3: 4, 's': 11}

In [49]:
del a[3]

In [50]:
a

{1: 33, 2: 3, 's': 11}

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\kaashiv infotech\anaconda3\lib\site-packages (0.0.post1)

# Python functions

In [2]:
a=10
b=20
c=a+b
print(c)

30

In [5]:
def add():
    a=10
    b=20
    c=a+b
    print(c)

In [6]:
add()

30

In [7]:
add()

30

In [41]:
def add():
    a=int(input('Enter first number to add : '))
    b=int(input('Enter second number to add : '))
    c=a+b
    print(f'the addition of {a} and {b} is ',c)

In [42]:
add()

Enter first number to add : 12
Enter second number to add : 13
the addition of 12 and 13 is  25

In [43]:
add()

Enter first number to add : 11
Enter second number to add : 12
the addition of 11 and 12 is  23

In [44]:
def add(a,b):
    '''this function adds the given two values'''
    return a+b

In [22]:
add('a','b')

ab

In [45]:
add(1,2)

3

In [31]:
add_20_30=add(20,30)

50

In [32]:
print(add_20_30)

50

In [33]:
add_20_30*10

500

In [36]:
add_1110_100=add(1110,100)

In [38]:
add_1110_100

1210

# If condition

if 
if else
if elif else

In [40]:
name='sai'
if name=='sai':
    print('Yes,they are same')

Yes,they are same

In [46]:
def eligibility():   
    age=int(input('enter your age : '))
    if age>=18:
        print('You are eligible to vote')
    else:
        print('Not eligible')

In [47]:
eligibility()

enter your age : 12
Not eligible

In [48]:
eligibility()

enter your age : 20
You are eligible to vote

In [54]:
age=int(input('enter your age : '))
if age<=16:
    print('boy')
elif age>=17 and age<=40:
    print('men')
elif age>=41 and age<=70:
    print('old man')
else:
    print('old old man')

enter your age : 17
men

# Range function

range is array of integers
range starts with zero by default
range(5)=[0,1,2,3,4]
range(1,11)=[1,2,3,4,5,6,7,8,9,10]
range(1,11,2)=[1,3,5,7,9]

# for loop

In [3]:
a=[1,2,3,4,5]
print(a[0])
print(a[1])

1
2

for temporary_variable in Iterable:
    iteration program

In [8]:
for i in a:
    print(i,' x 2 = ',i*2)

1  x 2 =  2
2  x 2 =  4
3  x 2 =  6
4  x 2 =  8
5  x 2 =  10

iteration 1 
 i=1
iteration 2  
 i=2
iteration 3 
 i=3
iteration 4 
 i=4
iteration 5 
 i=5

In [9]:
for i in range(1,11):
    print(i,' x 2 = ',i*2)

1  x 2 =  2
2  x 2 =  4
3  x 2 =  6
4  x 2 =  8
5  x 2 =  10
6  x 2 =  12
7  x 2 =  14
8  x 2 =  16
9  x 2 =  18
10  x 2 =  20

In [21]:
a='saiaravindhakshan selvam','arjun'
for sai in a:
    for i in sai:
        print(i)

s
a
i
a
r
a
v
i
n
d
h
a
k
s
h
a
n

s
e
l
v
a
m
a
r
j
u
n

### enumeration in for

In [55]:
for j in a:
    for i,k in enumerate(j,1):
        print(i,k)

1 h
2 i
1 i
1 a
2 n
1 s
2 a
3 i
1 a
2 n
3 d
1 i
1 a
2 m
1 y
2 o
3 u
4 r
1 p
2 y
3 t
4 h
5 o
6 n
1 t
2 r
3 a
4 i
5 n
6 e
7 r

In [26]:
for i,j in enumerate('saiaravindhakshan',101):
    print('loop no . ',i)
    print(j)

loop no .  101
s
loop no .  102
a
loop no .  103
i
loop no .  104
a
loop no .  105
r
loop no .  106
a
loop no .  107
v
loop no .  108
i
loop no .  109
n
loop no .  110
d
loop no .  111
h
loop no .  112
a
loop no .  113
k
loop no .  114
s
loop no .  115
h
loop no .  116
a
loop no .  117
n

In [27]:
a=[1,2,3,4,5,6,7,8,9,10,'s','a']

In [30]:
for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6
7
8
9
10
s
a

In [31]:
len(a)

12

In [35]:
a=[1,2,3]
b=[1,2,3]
c=[]
for i in range(len(a)):
    c.append(a[i]+b[i])
print(c)

[2, 4, 6]

itr 1:
    a[0]+b[0]
    1+1
    2
    c.append(2)
itr 2:
    a[1]+b[1]
    2+2
    4
    c.append(4)
itr 3:
    a[2]+b[2]
    3+3
    6
    c.append(6)

# List comprehension

In [40]:
#list_name=[ variable for variable in range() if condition]
a=[i for i in range(1,101) if i%6!=0]

In [41]:
a

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100]

In [42]:
a=[]
for i in range(1,101):
    if i%6!=0:
        a.append(i)

In [1]:
a

NameError: name 'a' is not defined

In [28]:
#list_name=[ variable for variable in range() if condition]
a=[i for i in range(1,101) if i%6!=0]

In [29]:
a

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100]

In [4]:
even=[i for i in a if i%2==0]

In [5]:
even

[2,
 4,
 8,
 10,
 14,
 16,
 20,
 22,
 26,
 28,
 32,
 34,
 38,
 40,
 44,
 46,
 50,
 52,
 56,
 58,
 62,
 64,
 68,
 70,
 74,
 76,
 80,
 82,
 86,
 88,
 92,
 94,
 98,
 100]

In [6]:
odd=[i for i in a if i%2!=0]

In [7]:
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# EB bill calculation using if conditions

In [12]:
Eb={}

In [14]:
def EB():
    name=input('enter your name:')
    units=int(input('enter the units consumed:'))
    if units <=50:
        amt=units*2
        scr=10
    elif units<=100:
        amt=100 + ((units-50)*4)
        scr=20
    elif units<=200:
        amt=100 + 200 + ((units-100)*6)
        scr=30
    else:
        amt=100 + 200 + 600 +((units-200)*10)
        scr=50

    total=amt+scr
    print(f'Mr/Mrs.{name},your EB bill for the current month is rs.{total}')
    
    Eb[name]=total

In [15]:
EB()

enter your name:sai
enter the units consumed:180
Mr/Mrs.sai,your EB bill for the current month is rs.810

In [16]:
EB()

enter your name:naveen
enter the units consumed:260
Mr/Mrs.naveen,your EB bill for the current month is rs.1550

In [17]:
Eb

{'sai': 810, 'naveen': 1550}

In [19]:
a=float(input('Enter principle amount:'))
b=float(input('enter rate of interest:'))
c=float(input('enter no.of years:'))
ci=a*((1+b)/100)**c

Enter principle amount:100000
enter rate of interest:3
enter no.of years:4

In [20]:
ci

0.256

In [30]:
import math as m

In [22]:
m.pow(2,3)

8.0

### to create multiple loop to get inputs multiple time...use for loop

In [26]:
for i in range(1,11): #this for loop will create 10 loops
    print('\n\ncount no.',i,'\n\n')
    name=input('enter your name:')
    units=int(input('enter the units consumed:'))
    if units <=50:
        amt=units*2
        scr=10
    elif units<=100:
        amt=100 + ((units-50)*4)
        scr=20
    elif units<=200:
        amt=100 + 200 + ((units-100)*6)
        scr=30
    else:
        amt=100 + 200 + 600 +((units-200)*10)
        scr=50
    total=amt+scr
    print(f'Mr/Mrs.{name},your EB bill for the current month is rs.{total}')

count no. 1


enter your name:sai
enter the units consumed:123
Mr/Mrs.sai,your EB bill for the current month is rs.468


count no. 2


enter your name:naveen
enter the units consumed:12
Mr/Mrs.naveen,your EB bill for the current month is rs.54


count no. 3


enter your name:
enter the units consumed:

ValueError: invalid literal for int() with base 10: ''

# Split()
this will split the given sequence in given argument  and creates it as a list

In [27]:
sentence=input('enter words to create list :')

enter words to create list :hi i an sai and i am your python trainer

In [28]:
sentence

'hi i an sai and i am your python trainer'

In [35]:
a=sentence.split(' ') # this will split the sentence in every spaces( ' ' )

In [36]:
a

['hi', 'i', 'an', 'sai', 'and', 'i', 'am', 'your', 'python', 'trainer']

In [39]:
number =(input('enter any numbers: ').split(' '))

enter any numbers: 1 2 3 4 5

In [40]:
number

['1', '2', '3', '4', '5']

# Slicing using index() method

In [1]:
a=[1,2,3,4,5,6,7,'s',8,9,10,11,12,'a']

In [2]:
a[a.index('s') : a.index('a')+1]

['s', 8, 9, 10, 11, 12, 'a']

# sorting tuple and set

In [4]:
t=(1,3,4,5,2,6,8,7)

In [5]:
t=tuple(sorted(t))
# sorted keyword will convert the tuple into list then sorts it...
# so we need to change it to tuple again

In [6]:
t

(1, 2, 3, 4, 5, 6, 7, 8)

In [7]:
sorted(t)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
s={1,3,4,5,2,6,8,7}

In [9]:
s=set(sorted(t))

In [10]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
import calendar as cl

In [16]:
print(cl.calendar(1999,m=4))

                                               1999

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31                                29 30 31                  26 27 28 29 30

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4                         1
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
31                                                                            30 31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
27 28 29 30               25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [17]:
print(cl.month(1999,2))

   February 1999
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [19]:
def mon():
    y=int(input('enter year number : '))
    m=int(input('''enter month number 
    eg: 2 for feb ,3 for march: '''))
    print(cl.month(y,m))

In [31]:
mon()

enter year number : 1999
enter month number
    eg: 2 for feb ,3 for march: 2
   February 1999
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [32]:
mon()

enter year number : 2222
enter month number
    eg: 2 for feb ,3 for march: 2
   February 2222
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28

In [22]:
print('hello\ni\nam\nsai')

hello
i
am
sai

In [23]:
print('''hello
i
am
sai''')

hello
i
am
sai

# Escape sequence

\n -new line
\t -tab space
\  -to continue the same line in next line

In [34]:
print('for printing new line ..we use \\n ..this will  create a new line')

for printing new line ..we use \n ..this will  create a new line

In [27]:
#the additional '\' before the command is called escape sequence

In [ ]:
inline if
break
while 
exception

In [3]:
for i in range(1,51):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

# printing numbers without using numbers in program

In [13]:
a=['a','b']
x= str(a.index('a'))
y= str(a.index('b'))
z= int(y+x+x)


for i in range(int(y),z):
    print(i,end=' ')

In [18]:
ord('A')

65

In [19]:
ord('B')

66

In [20]:
a=str(ord('B')-ord('A'))
b=str(ord('B')-ord('B'))
c=int(a+b+a)
for i in range(int(a),c):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [27]:
for i in range(1,10):
    print(i,end=" sai ")

1 sai 2 sai 3 sai 4 sai 5 sai 6 sai 7 sai 8 sai 9 sai

# While loop

In [7]:
a=10
while a<50:
    print(a)
    
    if a == 20:
        break
    a = a+2

10
12
14
16
18
20

In [10]:
a=1
b=10
while a<=10:
    print(b*' ','*'*a,b*' ')
    a=a+1
    b=b-1

           *
          **
         ***
        ****
       *****
      ******
     *******
    ********
   *********
  **********

# Keywords

### zip()

In [18]:
a=[1,2,3,4,5,6,7,8]
b=[2,3,4,5,6,7,8]
c=zip(a,b,a,b)

In [19]:
for i in c:
    print(i)

(1, 2, 1, 2)
(2, 3, 2, 3)
(3, 4, 3, 4)
(4, 5, 4, 5)
(5, 6, 5, 6)
(6, 7, 6, 7)
(7, 8, 7, 8)

In [15]:
for i,j in zip(a,b):
    print('value on a is :',i,'value on b is :',j)

value on a is : 1 value on b is : 2
value on a is : 2 value on b is : 3
value on a is : 3 value on b is : 4
value on a is : 4 value on b is : 5
value on a is : 5 value on b is : 6
value on a is : 6 value on b is : 7
value on a is : 7 value on b is : 8

### map()

In [24]:
a=['1','2','3','4','5']

In [25]:
b=list(map(int,a))

In [26]:
b

[1, 2, 3, 4, 5]

In [27]:
for i in a:
    print(i)
    print(type(a),'\n\n')

1
<class 'list'>


2
<class 'list'>


3
<class 'list'>


4
<class 'list'>


5
<class 'list'>

In [28]:
def cube(a):
    return a*a*a

In [29]:
a=[1,2,3,4,5,6,7,8,9,10]

In [30]:
b=list(map(cube,a))

In [31]:
b

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Exception handling

In [34]:
import calendar as cl

In [38]:
try:
    y=int(input('enter year number : '))
    m=int(input('''enter month number 
    eg: 2 for feb ,3 for march: '''))
    print(cl.month(y,m))
except Exception as e:
    print('something went wrong..it may be :',e)

enter year number : 1999
enter month number
    eg: 2 for feb ,3 for march: feb
something went wrong..it may be : invalid literal for int() with base 10: 'feb'

# strip()

In [12]:
a='.....cccccsdddsai ..;.dwwccdd'

In [5]:
a

'.....cccccsddd sai ..;.dwwccdd'

In [14]:
a.strip('.cdsw;')

'ai '

In [8]:
a.removeprefix('.....cccccsddd')

' sai ..;.dwwccdd'

In [9]:
a.removesuffix(' ..;.dwwccdd')

'.....cccccsddd sai'

# file handling

In [ ]:
r= read mode
    we can read the lines inside file(eg.txt)
w= write mode
    it will erase all the data present and adds the given line
a= append mode
    it will add the given line to the end of the text
r+ =read write mode
    we can access both read and write

In [ ]:
#object=open('name of the file','mode')

In [9]:
file=open('sai.txt','r')

In [10]:
file.readline()

'\n'

In [11]:
file.readline()

'hi\n'

In [12]:
for i in file:
    print(i)

hello

vanakkam

all

to

the

python

classthis is sai

In [39]:
file.readline()

''

In [33]:
file.close()

hello

vanakkam

all

to

the

python

classthis is sai

In [24]:
file=open('sai.txt','w')

In [25]:
file.write('''
hi
hello
vanakkam
all 
to 
the
python
class''')

44

In [26]:
file.close()

In [27]:
file=open('sai.txt','a')

In [28]:
file.write('this is sai')

11

In [29]:
file.close()

In [13]:
newfile=open('python class','w')

In [14]:
newfile.write('hello\nhi\nvanakkam')

17

In [15]:
newfile.close()

In [16]:
newfile=open('python class','w')

In [17]:
newfile.write('python\nis\nthe\nbest')

18

In [18]:
newfile.close()

In [19]:
newfile=open('python class','a')

In [20]:
newfile.write('\nlearn\npython\nfor\nthe\nfuture')

28

In [21]:
newfile.close()

In [23]:
with open ('python class','a') as file:
    file.write('\niam\nsai')
    file.write('\niam\nyour\npython\ntrainer')

In [24]:
#with open ('file name','mode') as object:
    #commands

In [25]:
def even(x):
    if x%2==0:
        return True
    else:
        return False

In [26]:
a=[i for i in range(1,101)]

In [30]:
b=list(filter(even,a))

In [31]:
b

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [29]:
list(b)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [36]:
a,b,c,d,e=map(int,input().split(' '))

1 2 3 4 5

In [37]:
b

2

In [38]:
a=[i for i in range(1,101)]

In [72]:
class math:
    def add(self,a,b):
        return a+b
    def sub(self,b,c):
        '''this function will subtract the given two numbers'''
        return b-c
    def mul(self,b,c):
        '''this function will multiplies the given two numbers'''
        return b*c
    def div(self,b,c):
        '''this function will divides the given two numbers'''
        return round(b/c,2)

In [67]:
maths=math()

In [68]:
maths.div(10,3)

3.33

AttributeError: 'function' object has no attribute 'add2'

In [73]:
class math:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        
        
        return self.a+self.b
    def sub(self):
        '''this function will subtract the given two numbers'''
        return self.a-self.b
    def mul(self):
        '''this function will multiplies the given two numbers'''
        return self.a*self.b
    def div(self):
        '''this function will divides the given two numbers'''
        return round(self.a/self.b,2)

In [74]:
sai=math(10,3)

In [75]:
sai.add()

13

In [76]:
sai.sub()

7

In [2]:
class house:
    def __init__(self,cement,bricks,steel,sand,paint):
        self.c=cement
        self.b=bricks
        self.st=steel
        self.sn=sand
        self.p=paint
    def Build(self):
        print('we are using {} cement and {} TMT for building'.format(self.c,self.st))
    def Wall(self):
        print('we are using {} sand and {} brick'.format(self.sn,self.b))
    def painting(self,colour):
        print('we are using {} paint and its colour is {}'.format(self.p,colour))
low=house('low budget','concrete','c.k.g','m sand','apex')
medium=house('vajram','fire','agni','pit','asian')
high=house('shankar','red','Jsw','fine','nippon')

In [5]:
low.painting('orange')

we are using apex paint and its colour is orange

In [6]:
low.Build()

we are using low budget cement and c.k.g TMT for building

In [7]:
high.Wall()

we are using fine sand and red brick

In [11]:

def budg():
    budget=int(input('enter your budget='))
    paint_colour=input('enter paint colour=')
    if budget>=1000 and budget<=10000:
        low.Build()
        low.Wall()
        low.painting(paint_colour)
        budg()
    elif budget>10000 and budget<=50000:
        medium.Build()
        medium.Wall()
        medium.painting(paint_colour)
        budg()
    elif budget>50000:
        high.Build()
        high.Wall()
        high.painting(paint_colour)
        budg()
    else:
        print('your budget too low')
        budg()
budg()

enter your budget=1000
enter paint colour=red
we are using low budget cement and c.k.g TMT for building
we are using m sand sand and concrete brick
we are using apex paint and its colour is red
enter your budget=100000
enter paint colour=red
we are using shankar cement and Jsw TMT for building
we are using fine sand and red brick
we are using nippon paint and its colour is red

KeyboardInterrupt: Interrupted by user

In [9]:
budg()

enter your budget=1
enter paint colour=red
your budget too low
enter your budget=100
enter paint colour=red
your budget too low
enter your budget=1000
enter paint colour=red
we are using low budget cement and c.k.g TMT for building
we are using m sand sand and concrete brick
we are using apex paint and its colour is red

In [10]:
budg()

enter your budget=1000
enter paint colour=red
we are using low budget cement and c.k.g TMT for building
we are using m sand sand and concrete brick
we are using apex paint and its colour is red

encapsulation:
    binding the methods and variables inside the class is called encapsulation

In [ ]:
abstraction
creating objects and retrieving methods

In [ ]:
class a
class b

In [ ]:
class c(a): single inheritance

In [ ]:
class d(a,b) : multiple inheritance

In [ ]:
class e(a)

In [ ]:
class f(c): multi level

In [ ]:
class g(b):

In [ ]:
class h (c,e):

In [22]:
class bird:
    def flight(self):
        print('some birds can fly ,some cannot')
    def nest(self):
        print('birds will rest in its nest')
    def leg(self):
        print('it will have 2 legs')
class parrot(bird):
    def flight(self):
        print('parrot can fly')
    def colour(self):
        print('green')
    def peak(self):
        print('red colour peak')
    def speech(self):
        print('parrot  can speak')

In [23]:
bird=bird()

In [24]:
parrot=parrot()

In [17]:
parrot.flight()

parrot can fly

In [18]:
bird.flight()

some birds can fly ,some cannot

In [19]:
parrot.nest()

birds will rest in its nest

In [20]:
bird.flight()

some birds can fly ,some cannot

In [21]:
parrot.flight()

parrot can fly

In [25]:
parrot.leg()

it will have 2 legs

In [19]:
lists={}
lists['Nokia']={}

In [20]:
lists

{'Nokia': {}}

In [5]:
lists['Nokia','modal']='nokia 7'

In [21]:
lists

{'Nokia': {}}

In [7]:
del lists[('Nokia', 'modal')]

In [22]:
lists

{'Nokia': {}}

In [23]:
lists['Nokia']['modal']='nokia7'

In [24]:
lists

{'Nokia': {'modal': 'nokia7'}}

In [26]:
lists['LG']={}

In [27]:
lists['LG']['modal']='lg 7'

In [28]:
lists

{'Nokia': {'modal': 'nokia7'}, 'LG': {'modal': 'lg 7'}}

In [15]:
# initializing dictionary
test_dict = {'GFG' : {'rate' : 4, 'since' : 2012}}
 
# printing original dictionary
print("The original dictionary is : " + str(test_dict))
 
# Using dictionary brackets
# Update nested dictionary keys
test_dict['GFG']['rank'] = 1

The original dictionary is : {'GFG': {'rate': 4, 'since': 2012}}

In [16]:
test_dict

{'GFG': {'rate': 4, 'since': 2012, 'rank': 1}}